<div id="messagingarea">
    <ul id="messages"></ul>
    <div id="bottomarea">
        <div id="textarea">
            <form action="/" method="POST" id="chatForm">
                <input
                id="txt"
                autocomplete="off"
                autofocus="on"
                oninput=""
                placeholder="Type your message here... "
                />
            </form>
        </div>
    </div>
</div>