body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-weight: 700;
  text-decoration: none;
}

.container {
  margin: 1rem;
  padding: 1rem;
  width: 12rem;
  background-color: #eeeeee;
}

.btn {
  display: block;
  width: 10rem;
  margin-bottom: 10px;
  padding: 5px;
  border: solid #ccc 5px;
  border-radius: 5px;
  background-color: #ccc;
}

.btn_dn:before {
  float: left;
  top: -10px;
  left: -10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  content: "";
  width: 10px;
  height: 38px;
  background-color: red;
}

.btn_ss:before {
  float: left;
  top: -10px;
  left: -10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  content: "";
  width: 10px;
  height: 38px;
  background-color: orange;
}

.btn_sv:before {
  float: left;
  top: -10px;
  left: -10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  content: "";
  width: 10px;
  height: 38px;
  background-color: green;
}

.btn_ab:before {
  float: left;
  top: -10px;
  left: -10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  content: "";
  width: 10px;
  height: 38px;
  background-color: lightskyblue;
}
