body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 80vh;
  height: auto;
  flex: 0 0 5vw;
}

.square {
  height: auto;
  flex: 1;
  z-index: 99;
}

.square img {
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

.square:hover {
  transition: all 0.4s linear;
  height: 20vh;
  flex: 2;
}

#viewer {
  flex: 1;
  height: 80vh;
  width: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
