@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  height: 100vh;
  width: 99.5vw;
  margin: 0px;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

#menu {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

#menu a {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  height: 20px;
  color: #fff;
  padding: 20px 16px;
  text-decoration: none;
  text-shadow: 0px 0px 8px #000, 0px 0px 4px #000;
}

#menu a:hover {
  color: #01266d;
}

#menu img {
  float: left;
  height: 35px;
  width: 35px;
  margin-top: 12px;
  margin-left: 8px;
}

#footer {
  height: 10%;
  background: #000;
  text-align: center;
}

#footer a {
  display: inline-block;
  color: #fff;
  margin: 20px;
}

.panel {
  position: relative;
  width: 100%;
  background-position: center center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px 4px solid #ffffff;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  min-width: 90%;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 4px #000, 0px 0px 3px #000;
}

.info img {
  height: 100px;
  width: 100px;
}

.info a {
  text-decoration: none;
  display: block;
  color: #fff;
}

.info h1 {
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.twocols {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
}

.twocols p {
  color: #000;
  text-align: left;
  text-shadow: none;
}

.threecols {
  display: inline-grid;
  width: 30%;
  margin-left: 3%;
}

.fourcols {
  display: inline-block;
  width: 20%;
  margin-left: 3%;
}

.fourcols img {
  height: 150px;
  width: 150px;
}

.fourcols p {
  color: #000;
  text-shadow: none;
  text-align: justify;
}

.leftnav {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  margin-left: 10px;
  width: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 8px #000, 0px 0px 6px #000;
}

.leftnav a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.forminput {
  color: #000;
  text-shadow: none;
  text-align: left;
  line-height: 150%;
}

.forminput input[type="text"],
.forminput input[type="email"],
textarea {
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  outline: none;
}

.forminput input[type="text"]:focus,
.forminput input[type="email"]:focus,
.forminput textarea:focus,
.forminput select:focus {
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

.forminput input[type="submit"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.forminput input[type="submit"]:hover {
  background: #4691a4;
  box-shadow: none;
}

.field-long {
  width: 80%;
}

.field-textarea {
  height: 177px;
  width: 80%;
}

#first {
  height: 100%;
  background: url("../images/Golden_Gate_1920x1080.png");
  background-position: center center;
  background-attachment: fixed;
}

#second {
  height: 51%;
  background: url("../images/Colosseum_1920x1080.png");
  background-position: center center;
  background-attachment: fixed;
}

#secondcontent {
  height: 49%;
  background: #fff;
}

#third {
  height: 51%;
  background: url("../images/Great_Wall_1920x1080.png");
  background-attachment: fixed;
}

#thirdcontent {
  height: 49%;
  background: #fff;
}

#fourth {
  height: 45%;
  background: url("../images/Machu_Pichu_1920x1080.png");
  background-attachment: fixed;
}

#fourthcontent {
  height: 55%;
  background: #fff;
}

#fifth {
  height: 60%;
  background: url("../images/Niagara_Falls_1920x1080.png");
  background-attachment: fixed;
}

#fifthcontent {
  height: 40%;
  background: #fff;
}
