@import url("https://fonts.googleapis.com/css?family=Raleway");

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px 2px #000, 0px 0px 1px #000;
}

#slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slider .slidecontainer {
  display: block;
  width: 16000px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.slide {
  float: left;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-position: top center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.slide img {
  height: 150px;
  width: 150px;
}

#top {
  background-image: url("../images/Golden_Gate_1920x1080.png");
}

#firstslide {
  background-image: url("../images/Colosseum_1920x1080.png");
}

#secondslide {
  background-image: url("../images/Great_Wall_1920x1080.png");
}

#thirdslide {
  background-image: url("../images/Machu_Pichu_1920x1080.png");
}

#fourthslide {
  background-image: url("../images/Niagara_Falls_1920x1080.png");
}

#fifthslide {
  background-image: url("../images/Pyramids_1920x1080.png");
}

#sixthslide {
  background-image: url("../images/Taj_Mahal_1920x1080.png");
}

#seventhslide {
  background-image: url("../images/Chichen_1920x1080.png");
}

#topslide {
  background-image: url("../images/Golden_Gate_1920x1080.png");
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 8px #444;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 0.5s all ease-out;
}

.menu a {
  color: #000;
  text-shadow: 0px 0px 2px #fff, 0px 0px 1px #fff;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  height: 20px;
  padding: 20px 16px;
}

.menu a:hover {
  text-shadow: 0px 0px 3px #c8c8c8, 0px 0px 2px #c8c8c8;
}

.menu img {
  float: left;
  height: 35px;
  width: 35px;
  margin-top: 12px;
  margin-left: 8px;
}

.menu .icon {
  display: none;
}

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 10%;
  background: #000;
  text-align: center;
}

#footer a {
  display: inline-block;
  color: #fff;
  margin: 20px;
}

.sliderinfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  min-width: 90%;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000, 0px 0px 1px #000;
}

.sliderinfo h1 {
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sliderinfo i {
  display: block;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.info {
  height: 100%;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  margin: 1rem 4rem 1rem 1rem;
  color: #000;
}

.twoinfo {
  grid-template-columns: 20px 1fr 1fr;
}

.threeinfo {
  grid-template-columns: 20px 1fr 2fr 3fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.fourinfo {
  grid-template-columns: 20px repeat(4, 1fr);
}

.fourinfo img {
  justify-self: stretch;
  height: 100px;
  width: 100px;
}

.leftnav {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}

.button {
  display: block;
  margin: 20px auto;
  width: 140px;
  height: 30px;
  border: 2px solid #fff;
  padding-top: 14px;
}

.button:hover {
  color: #000;
  background-color: #fff;
  text-shadow: 0px 0px 1px #fff;
}

.forminput {
  color: #000;
  text-shadow: none;
  text-align: left;
  line-height: 150%;
}

.forminput input[type="text"],
.forminput input[type="email"],
textarea {
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  outline: none;
}

.forminput input[type="text"]:focus,
.forminput input[type="email"]:focus,
.forminput textarea:focus,
.forminput select:focus {
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

.forminput input[type="submit"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.forminput input[type="submit"]:hover {
  background: #4691a4;
  box-shadow: none;
}

.field-long {
  width: 80%;
}

.field-textarea {
  height: 177px;
  width: 80%;
}

.flagsize {
  height: 45px;
  width: 60px;
}

.content {
  height: 50%;
  background: #fff;
}

.panelimage {
  min-height: 50%;
  background-position: center center;
}

.address {
  display: none;
}

#first {
  height: 100%;
  background: url("../images/Golden_Gate_1920x1080.png");
  background-attachment: fixed;
}

#second {
  background: url("../images/Colosseum_1920x1080.png");
  background-attachment: fixed;
}

#third {
  background: url("../images/Great_Wall_1920x1080.png");
  background-attachment: fixed;
}

#fourth {
  background: url("../images/Machu_Pichu_1920x1080.png");
  background-attachment: fixed;
}

#fifth {
  background: url("../images/Niagara_Falls_1920x1080.png");
  background-attachment: fixed;
}

@media screen and (max-width: 860px) {
  .content {
    height: auto;
  }

  .fourinfo {
    grid-template-columns: 20px repeat(2, 1fr);
  }

  .fourcols:nth-child(1) {
    grid-column: 2;
  }

  .fourcols:nth-child(2) {
    grid-column: 2;
  }

  .fourcols:nth-child(3) {
    grid-column: 3;
  }

  .fourcols:nth-child(4) {
    grid-column: 2;
  }
}

@media screen and (max-width: 650px) {
  .menu {
    flex-flow: column;
    transition: 0.5s all ease-out;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px #444;
  }

  .menu .icon {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
  }

  .menu a:not(:first-child) {
    display: none;
  }

  .menu.responsive {
    height: 400px;
  }

  .menu.responsive a:not(:first-child) {
    animation: slide 0.5s ease-out forwards;
    display: block;
    width: 50%;
    margin: auto;
  }

  @keyframes slide {
    0% {
      transform: translate(0, -150px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .twoinfo {
    grid-template-columns: 20px 1fr;
  }

  .twocols {
    grid-column: 2 / span 2;
  }

  .threeinfo {
    display: block;
    width: 100%;
  }

  .fourinfo {
    display: inline-block;
  }

  .map {
    display: none;
  }

  .address {
    display: block;
  }

  .leftnav {
    display: none;
  }

  #footer {
    position: absolute;
    flex-flow: column;
    height: 300px;
    width: 100%;
  }

  #footer a {
    display: block;
  }
}
