body {
  background: #dee9fc;
}

h1 {
  margin: 20px;
  width: 30em;
}

div {
  width: 30em;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(#dee9fc, #6395f2);
  box-shadow: 5px 5px 10px #444;
}

.one {
  font-family: Arial, Helvetica, sans-serif;
}

.two {
  font-family: "Courier New", Courier, monospace;
}

.three {
  font-family: "Times New Roman", Times, serif;
}

.lighter {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}
