img {
  width: 100%;
  transition: all 0.3s ease-out;
}

.center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 940px;
  margin: auto;
  margin-top: 2em;
  height: auto;
  padding: 5px;
}

.card {
  display: block;
  margin: 1em;
  /*max-height: 800px;*/
  border: solid 5px #000;
  background: linear-gradient(#ffffff, #000);
  transition: all 0.3s ease-out;
}

.card:hover img {
  transform: scale(1.01, 1.02);
}

.card:hover .container {
  background: #000;
  transform: translate(0px, -20px) scale(1.02, 1.15);
}

.card:hover .name {
  color: #fff;
}

.card:hover .workplace {
  color: #fff;
}

.card:hover .info {
  display: inline;
}

.container {
  min-height: 270px;
  text-align: center;
  background: #ffffff;
  padding: 20px;
  transition: all 0.3s ease-out;
}

.title {
  font-size: 2em;
  color: #666;
}

.info {
  display: none;
  color: red;
}
