body {
  font-family: "Courier New", Courier, monospace;
  margin: 1em;
  padding: 1em;
  min-height: 93vh;
  background: linear-gradient(#20223e, #ecebeb, #855f40);
}

img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 200px;
  height: 267px;
  border: solid 1px blue;
}

h1 {
  text-align: center;
}

p {
  max-width: 650px;
  margin: auto;
}

.floatright {
  float: right;
  margin-left: 8px;
}

.floatleft {
  float: left;
  margin-right: 40px;
}
