.grid-parent {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #bd3737;
  padding: 10px;
  width: 50vw;
}
.grid-child {
  background-color: #ffffffb9;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
