body {
  font-size: 1.8em;
}

.hg__item {
  padding: 20px;
}

.hg__header {
  background: #cd5c5c;
  grid-area: header;
}
.hg__footer {
  background: #add8e6;
  grid-area: footer;
}
.hg__main {
  background: #90ee90;
  grid-area: main;
}
.hg__left {
  background: #ffb6c1;
  grid-area: navigation;
}
.hg__right {
  background: #ffb6c1;
  grid-area: ads;
}

.hg {
  display: grid;
  grid-template-areas:
    "header header header"
    "navigation main ads"
    "footer footer footer";
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows:
    100px
    1fr
    60px;
  grid-gap: 10px;
  min-height: 98vh;
}

@media screen and (max-width: 768px) {
  .hg {
    grid-template-areas:
      "header"
      "navigation"
      "main"
      "ads"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows:
      100px
      50px
      1fr
      50px
      30px;
  }
}
